* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background: #b8b7b7;
}

.upper {
    position: relative;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    display: flex;
    background: #2F2E2C;
    box-shadow: 5px 5px 10px #000000;
    z-index: 1000;
}

.upperbutton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background-color: #00bfff;
    width: 130px;
    height: 51px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    cursor: pointer;
    color: white;
    user-select: none;
}

.upperbutton:hover {
    background-color: #d0cccc;
    box-shadow: 2px 0px 2px #000000;
    transition: background-color .3s ease-out;
    outline: none;
    color: #6b6b6b;
}

.favbutton {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    top: 25%;
    left: 85%;
    transform: translateX(-50%);
}

.cardbutton {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    top: 25%;
    left: 95%;
    transform: translateX(-50%);
}


.sidetools {
    padding-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: #e6e4e4;
    box-shadow: 2px 0px 2px #000000;
    margin-right: 3px;
}

.sidetools button {
    background-color: #00bfff;
    flex-direction: column;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 90%;
    margin: 10px;
    height: 51px;
    box-shadow: 2px 0px 2px #000000;
}

.sidetools button:hover {
    box-shadow: 2px 0px 2px #000000;
    background-color: #d0cccc;
    transition: background-color .3s ease-out;
}

.shopname {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 300px;
    height: 48px;
    left: 110px;
    top: 27px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 39px;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px gray;
    letter-spacing: 11px;
    cursor: pointer;
}

.downst {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid #000000 2px;
    width: 100%;
    height: 100px;
    left: 0px;
    bottom: 0;
    background: linear-gradient(90deg, #14A9DA 0%, #0B5A74 84.62%);
    font-weight: 700;
}


.logo {
    position: absolute;
    top: 13px;
    left: 0%;
    width: 112px;
    height: 75px;
    background: url('https://svgsilh.com/svg/304967.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background: #dddddd;
    padding-left: 35px;
    padding-top: 30px;
    gap: 12px;
}

.rectext {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #000;
}

/*products*/
.product {
    margin-top: 7px;
    width: 189px;
    height: fit-content;
    background: #F4EBEB;
    border-radius: 6px;
    padding: 13px;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0px 2px 5px 0px #00bfff;
    transition-duration: 0.5s;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.product-img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 4px;
    background: #ddd;
}

.productname {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.price {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #1ea10a;
}

.add-to-cart {
    width: 30px;
    height: 30px;
    background-color: #00FF00;
    border-radius: 3px;
    background-image: url('images/shopping-bag.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 9px;
    margin-left: 80%;
    align-items: center;
}

.add-to-cart:hover {
    background-color: #3fe03f;
    transition-duration: 0.2s;
}

.next {
    background-color: #00bfff;
    margin-top: 26px;
    width: 51px;
    height: 151px;
    border-radius: 6px;
}

.spliter {
    margin-top: 7px;
    margin-left: 7%;
    background-color: #858383;
    width: 80%;
    height: 1px;
    border-radius: 10px;
    box-shadow: 1px 0px 1px 0px #000;
}

.block {
    display: flex;
    flex-direction: row;
}

.blockcont {
    display: flex;
    flex-direction: column;
}

.favorites {
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.wishlist {
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #ffffff;
}

.cartlist{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:800px;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 17px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cartmain{
font-weight: 100;
}

.mid{
    background-color: #e4e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}